:target {
  display: block;
  position: relative;
  top: -100px;
}

a,
u {
  text-decoration: none;
}

html {
  /*scroll-behavior: smooth;*/
}

.tableOfContentsNavigationLink:hover{
  cursor: pointer;
}